body {
    display: flex;
    justify-content: center;
}

.container {
    padding: 1em;
    text-align: center;
    border: 2px solid black;
    background: wheat;
}

.operator {
    border: 1px solid black;
    padding: 0.5em;
    margin: 0.5em;
    font-size: 1.1em;
}

#firstNumber, #secondNumber {
    padding: 1em;
}

#result {
    font-size: 2em;
}